* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
}

.img-bg {
  background-image: url(./assets/img-centro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.banner {
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 50px;
  gap: 20px;
}

.banner p {
  font-size: 24px;
}

.texto-calidad {
  color: #bca177;
}

.navbar-nav {
  gap: 50px;
}

.nav-item {
  font-size: 22px;
}

.icono {
  width: 50px;
}

.producto-titulo {
  color: #bca177;
  font-size: 24px;
}

.presentacion {
  color: #bca177;
}

.container-productos {
  width: 50%;
  height: 450px;
}

.container-form {
  width: 50%;
}

.img-form {
  width: 100%;
  object-fit: cover;
  height: 620px;
}

.producto-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.producto-cuatro {
  background-color: #bca177;
}

.img-producto-cuatro {
  width: 100%;
}

.form-control,
.card-body {
  background-color: #bca177;
}

.nav-item-footer {
  margin-bottom: 30px;
}

.fa-brands {
  font-size: 22px;
}

@media (max-width: 1000px) {
  .navbar-nav {
    gap: 0px;
  }
  .hidden {
    display: none;
  }
  .redes {
    display: flex;
    gap: 30px;
  }
  .fa-brands {
    font-size: 32px;
  }
}

@media (max-width: 780px) {
  .banner p {
    font-size: 18px;
  }
  .banner {
    width: 80%;
  }
  .cont-prod {
    display: flex;
    flex-direction: column;
  }
  .producto-dos {
    flex-direction: column-reverse;
  }
  .container-productos,
  .container-form {
    width: 100%;
  }
  .producto-cuatro,
  .contactanos {
    display: flex;
    flex-direction: column;
  }
  .recetas {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .banner {
    width: 80%;
  }
  .icono {
    width: 30px;
  }
  .texto-calidad {
    font-size: 10px;
  }
}
